# Banxico SIE indexes

@roman

28 June, 2024

In [54]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from INEGIpy import Indicadores
from sie_banxico import SIEBanxico

from datetime import datetime
from dotenv import load_dotenv

In [55]:
# load environment variables
load_dotenv()

# inegi class
inegi_api = Indicadores(token=os.getenv('API_INEGI'))

NameError: name 'config' is not defined

---
# InegiPy Exploration

## Indicadores

In [7]:
# see bise catalogue
indicadores = inegi_api.catalogo_indicadores('BISE')

https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_INDICATOR/null/es/BISE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json

    value     Description
0  472079  Total nacional
1  472112  Total nacional
2  472145  Total nacional
3  472178  Total nacional
4  472211  Total nacional

In [13]:
# see bise catalogue
indicadores = inegi_api.catalogo_indicadores('BISE')

display(indicadores.head())

https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_INDICATOR/null/es/BISE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json

    value     Description
0  472079  Total nacional
1  472112  Total nacional
2  472145  Total nacional
3  472178  Total nacional
4  472211  Total nacional

In [24]:
series_values_list = [
    '6204482218', '6204482221', '6204482223', '6204482231'
]
indicadores.query("value.isin(@series_values_list)")

            value                                      Description
21716  6204482218                INC. Series originales. Inflación
21717  6204482221              INC. Variables indexadas. Inflación
21719  6204482223  INC. Series originales. Tipo de cambio FIX real
21725  6204482231              INC. Variables indexadas. Inflación

## Get INPC

### trial 1: '583731'

In [28]:
# get inpc
df_inpc, metadatos = inegi_api.obtener_df(
    indicadores='583731',
    metadatos=True,

)
df_inpc

/Users/ravj/opt/anaconda3/envs/mds-research-stay/lib/python3.10/site-packages/INEGIpy/_indicadores.py:108: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.set_index(pd.to_datetime(df.fechas),inplace=True, drop=True)

                583731
fechas
1969-01-01    0.011595
1969-02-01    0.011636
1969-03-01    0.011648
1969-04-01    0.011680
1969-05-01    0.011680
...                ...
2024-01-01  133.555000
2024-02-01  133.681000
2024-03-01  134.065000
2024-04-01  134.336000
2024-05-01  134.087000

[665 rows x 1 columns]

In [29]:
inegi_api.consulta_metadatos(metadatos)

https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_INDICATOR/583731/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_FREQ/8/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_TOPIC/11200130002000200010/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_UNIT/321/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_SOURCE/127/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json

                                                      583731
INDICADOR                       Precios al Consumidor (INPC)
FREQ                                                 Mensual
TOPIC                           Precios al Consumidor (INPC)
UNIT        Índice base segunda quincena de julio 2018 = 100
UNIT_MULT                                               None
NOTE
SOURCE                            INEGI. Índices de precios.
LASTUPDATE                         07/06/2024 12:10:11 p. m.
STATUS                                                  None
BANCO                                                    BIE

### trial 2:

In [30]:
# get inpc
df_inpc, metadatos = inegi_api.obtener_df(
    indicadores='628194',
    metadatos=True,

)
df_inpc, inegi_api.consulta_metadatos(metadatos)

/Users/ravj/opt/anaconda3/envs/mds-research-stay/lib/python3.10/site-packages/INEGIpy/_indicadores.py:108: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.set_index(pd.to_datetime(df.fechas),inplace=True, drop=True)

https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_INDICATOR/628194/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_FREQ/8/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_TOPIC/100005000015002000400035/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_UNIT/321/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_SOURCE/127/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json

(                628194
 fechas
 1969-01-01    0.011595
 1969-02-01    0.011636
 1969-03-01    0.011648
 1969-04-01    0.011680
 1969-05-01    0.011680
 ...                ...
 2024-01-01  133.555000
 2024-02-01  133.681000
 2024-03-01  134.065000
 2024-04-01  134.336000
 2024-05-01  134.087000

 [665 rows x 1 columns],
                                                       628194
 INDICADOR                                     Índice general
 FREQ                                                 Mensual
 TOPIC                                         Índice general
 UNIT        Índice base segunda quincena de julio 2018 = 100
 UNIT_MULT                                               None
 NOTE
 SOURCE                            INEGI. Índices de precios.
 LASTUPDATE                         07/06/2024 12:10:11 p. m.
 STATUS                                                  None
 BANCO                                                    BIE)

### trial 3: granularity

[Here](https://www.inegi.org.mx/app/tabulados/default.aspx?nc=ca61_2018&idrt=137&opc=t) is the link to the INPC data by state, however, data is not easy to download. There are 55 cities.

In [52]:
# get inpc
df_inpc, metadatos = inegi_api.obtener_df(
    indicadores='590684',
    metadatos=True,
)
df_inpc, inegi_api.consulta_metadatos(metadatos)

/Users/ravj/opt/anaconda3/envs/mds-research-stay/lib/python3.10/site-packages/INEGIpy/_indicadores.py:108: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.set_index(pd.to_datetime(df.fechas),inplace=True, drop=True)

https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_INDICATOR/590684/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_FREQ/8/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_TOPIC/112001300070004000100010/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_UNIT/321/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json
https://www.inegi.org.mx/app/api/indicadores/desarrolladores/jsonxml/CL_SOURCE/127/es/BIE/2.0/b4f50704-61f4-4343-8aeb-79c7e12761c4/?type=json

(             590684
 fechas
 2018-08-01  100.374
 2018-09-01  100.926
 2018-10-01  100.955
 2018-11-01  101.703
 2018-12-01  102.979
 ...             ...
 2024-01-01  132.772
 2024-02-01  132.157
 2024-03-01  132.791
 2024-04-01  134.286
 2024-05-01  134.334

 [70 rows x 1 columns],
                                                       590684
 INDICADOR                                     Índice general
 FREQ                                                 Mensual
 TOPIC                                         Índice general
 UNIT        Índice base segunda quincena de julio 2018 = 100
 UNIT_MULT                                               None
 NOTE
 SOURCE                            INEGI. Índices de precios.
 LASTUPDATE                         07/06/2024 12:10:11 p. m.
 STATUS                                                  None
 BANCO                                                    BIE)

---
# Banxico SIE

## Minimum Wage

In [60]:
list(minimum_wage_data.values())

['SL11296', 'SL11297']

In [61]:
# get data from Banxico
minimum_wage_data = {
    'no_border_north': 'SL11296',
    'general': 'SL11297',

}
banxico_api = SIEBanxico(
    token=os.getenv('API_BANXICO'),
    id_series=list(minimum_wage_data.values()),
    language='en'
)

In [62]:
# see metadata
banxico_api.get_metadata()

{'bmx': {'series': [{'idSerie': 'SL11297',
    'titulo': 'Minimum Wages National Real Index Dec2018=100',
    'fechaInicio': '01/01/1969',
    'fechaFin': '05/01/2024',
    'periodicidad': 'Monthly',
    'cifra': 'Indexes',
    'unidad': 'Without units',
    'versionada': False},
   {'idSerie': 'SL11296',
    'titulo': 'Minimum Wages Northern Border Free Zone Real Index Dec2018=100',
    'fechaInicio': '10/01/2015',
    'fechaFin': '05/01/2024',
    'periodicidad': 'Monthly',
    'cifra': 'Indexes',
    'unidad': 'Without units',
    'versionada': False}]}}

In [64]:
# consult data
today = datetime.today().strftime('%Y-%m-%d')
series_data = banxico_api.get_timeseries_range(
    init_date='2019-01-01',
    end_date=today
)
series_data

{'bmx': {'series': [{'idSerie': 'SL11297',
    'titulo': 'Minimum Wages National Real Index Dec2018=100',
    'datos': [{'fecha': '01/01/2019', 'dato': '116.1072'},
     {'fecha': '01/02/2019', 'dato': '116.1399'},
     {'fecha': '01/03/2019', 'dato': '115.6943'},
     {'fecha': '01/04/2019', 'dato': '115.6329'},
     {'fecha': '01/05/2019', 'dato': '115.9667'},
     {'fecha': '01/06/2019', 'dato': '115.8926'},
     {'fecha': '01/07/2019', 'dato': '115.4589'},
     {'fecha': '01/08/2019', 'dato': '115.4778'},
     {'fecha': '01/09/2019', 'dato': '115.1756'},
     {'fecha': '01/10/2019', 'dato': '114.5573'},
     {'fecha': '01/11/2019', 'dato': '113.6406'},
     {'fecha': '01/12/2019', 'dato': '113.0099'},
     {'fecha': '01/01/2020', 'dato': '134.9627'},
     {'fecha': '01/02/2020', 'dato': '134.4046'},
     {'fecha': '01/03/2020', 'dato': '134.4687'},
     {'fecha': '01/04/2020', 'dato': '135.8458'},
     {'fecha': '01/05/2020', 'dato': '135.3250'},
     {'fecha': '01/06/2020', 'dato': '134.5884'},
     {'fecha': '01/07/2020', 'dato': '133.7103'},
     {'fecha': '01/08/2020', 'dato': '133.1860'},
     {'fecha': '01/09/2020', 'dato': '132.8817'},
     {'fecha': '01/10/2020', 'dato': '132.0754'},
     {'fecha': '01/11/2020', 'dato': '131.9759'},
     {'fecha': '01/12/2020', 'dato': '131.4747'},
     {'fecha': '01/01/2021', 'dato': '149.9045'},
     {'fecha': '01/02/2021', 'dato': '148.9624'},
     {'fecha': '01/03/2021', 'dato': '147.7409'},
     {'fecha': '01/04/2021', 'dato': '147.2589'},
     {'fecha': '01/05/2021', 'dato': '146.9589'},
     {'fecha': '01/06/2021', 'dato': '146.1800'},
     {'fecha': '01/07/2021', 'dato': '145.3262'},
     {'fecha': '01/08/2021', 'dato': '145.0493'},
     {'fecha': '01/09/2021', 'dato': '144.1608'},
     {'fecha': '01/10/2021', 'dato': '142.9632'},
     {'fecha': '01/11/2021', 'dato': '141.3451'},
     {'fecha': '01/12/2021', 'dato': '140.8342'},
     {'fecha': '01/01/2022', 'dato': '170.8032'},
     {'fecha': '01/02/2022', 'dato': '169.3978'},
     {'fecha': '01/03/2022', 'dato': '167.7371'},
     {'fecha': '01/04/2022', 'dato': '166.8346'},
     {'fecha': '01/05/2022', 'dato': '166.5410'},
     {'fecha': '01/06/2022', 'dato': '165.1464'},
     {'fecha': '01/07/2022', 'dato': '163.9321'},
     {'fecha': '01/08/2022', 'dato': '162.8000'},
     {'fecha': '01/09/2022', 'dato': '161.7963'},
     {'fecha': '01/10/2022', 'dato': '160.8858'},
     {'fecha': '01/11/2022', 'dato': '159.9651'},
     {'fecha': '01/12/2022', 'dato': '159.3568'},
     {'fecha': '01/01/2023', 'dato': '189.9359'},
     {'fecha': '01/02/2023', 'dato': '188.8828'},
     {'fecha': '01/03/2023', 'dato': '188.3781'},
     {'fecha': '01/04/2023', 'dato': '188.4163'},
     {'fecha': '01/05/2023', 'dato': '188.8267'},
     {'fecha': '01/06/2023', 'dato': '188.6353'},
     {'fecha': '01/07/2023', 'dato': '187.7304'},
     {'fecha': '01/08/2023', 'dato': '186.6971'},
     {'fecha': '01/09/2023', 'dato': '185.8721'},
     {'fecha': '01/10/2023', 'dato': '185.1762'},
     {'fecha': '01/11/2023', 'dato': '183.9985'},
     {'fecha': '01/12/2023', 'dato': '182.7086'},
     {'fecha': '01/01/2024', 'dato': '217.3116'},
     {'fecha': '01/02/2024', 'dato': '217.1068'},
     {'fecha': '01/03/2024', 'dato': '216.4849'},
     {'fecha': '01/04/2024', 'dato': '216.0482'},
     {'fecha': '01/05/2024', 'dato': '216.4494'}]},
   {'idSerie': 'SL11296',
    'titulo': 'Minimum Wages Northern Border Free Zone Real Index Dec2018=100',
    'datos': [{'fecha': '01/01/2019', 'dato': '199.8293'},
     {'fecha': '01/02/2019', 'dato': '199.8855'},
     {'fecha': '01/03/2019', 'dato': '199.1186'},
     {'fecha': '01/04/2019', 'dato': '199.0129'},
     {'fecha': '01/05/2019', 'dato': '199.5873'},
     {'fecha': '01/06/2019', 'dato': '199.4598'},
     {'fecha': '01/07/2019', 'dato': '198.7134'},
     {'fecha': '01/08/2019', 'dato': '198.7460'},
     {'fecha': '01/09/2019', 'dato': '198.2259'},
     {'fecha': '01/10/2019', 'dato': '197.1618'},
     {'fecha': '01/11/2019', 'dato': '195.5841'},
     {'fecha': '01/12/2019', 'dato': '194.4985'},
     {'fecha': '01/01/2020', 'dato': '203.2436'},
     {'fecha': '01/02/2020', 'dato': '202.4031'},
     {'fecha': '01/03/2020', 'dato': '202.4997'},
     {'fecha': '01/04/2020', 'dato': '204.5735'},
     {'fecha': '01/05/2020', 'dato': '203.7892'},
     {'fecha': '01/06/2020', 'dato': '202.6800'},
     {'fecha': '01/07/2020', 'dato': '201.3576'},
     {'fecha': '01/08/2020', 'dato': '200.5680'},
     {'fecha': '01/09/2020', 'dato': '200.1098'},
     {'fecha': '01/10/2020', 'dato': '198.8956'},
     {'fecha': '01/11/2020', 'dato': '198.7457'},
     {'fecha': '01/12/2020', 'dato': '197.9909'},
     {'fecha': '01/01/2021', 'dato': '225.7454'},
     {'fecha': '01/02/2021', 'dato': '224.3267'},
     {'fecha': '01/03/2021', 'dato': '222.4871'},
     {'fecha': '01/04/2021', 'dato': '221.7613'},
     {'fecha': '01/05/2021', 'dato': '221.3096'},
     {'fecha': '01/06/2021', 'dato': '220.1366'},
     {'fecha': '01/07/2021', 'dato': '218.8508'},
     {'fecha': '01/08/2021', 'dato': '218.4339'},
     {'fecha': '01/09/2021', 'dato': '217.0958'},
     {'fecha': '01/10/2021', 'dato': '215.2924'},
     {'fecha': '01/11/2021', 'dato': '212.8555'},
     {'fecha': '01/12/2021', 'dato': '212.0861'},
     {'fecha': '01/01/2022', 'dato': '257.2275'},
     {'fecha': '01/02/2022', 'dato': '255.1110'},
     {'fecha': '01/03/2022', 'dato': '252.6099'},
     {'fecha': '01/04/2022', 'dato': '251.2508'},
     {'fecha': '01/05/2022', 'dato': '250.8086'},
     {'fecha': '01/06/2022', 'dato': '248.7083'},
     {'fecha': '01/07/2022', 'dato': '246.8796'},
     {'fecha': '01/08/2022', 'dato': '245.1747'},
     {'fecha': '01/09/2022', 'dato': '243.6631'},
     {'fecha': '01/10/2022', 'dato': '242.2919'},
     {'fecha': '01/11/2022', 'dato': '240.9054'},
     {'fecha': '01/12/2022', 'dato': '239.9892'},
     {'fecha': '01/01/2023', 'dato': '286.0484'},
     {'fecha': '01/02/2023', 'dato': '284.4623'},
     {'fecha': '01/03/2023', 'dato': '283.7024'},
     {'fecha': '01/04/2023', 'dato': '283.7598'},
     {'fecha': '01/05/2023', 'dato': '284.3779'},
     {'fecha': '01/06/2023', 'dato': '284.0896'},
     {'fecha': '01/07/2023', 'dato': '282.7268'},
     {'fecha': '01/08/2023', 'dato': '281.1707'},
     {'fecha': '01/09/2023', 'dato': '279.9282'},
     {'fecha': '01/10/2023', 'dato': '278.8802'},
     {'fecha': '01/11/2023', 'dato': '277.1065'},
     {'fecha': '01/12/2023', 'dato': '275.1638'},
     {'fecha': '01/01/2024', 'dato': '327.2725'},
     {'fecha': '01/02/2024', 'dato': '326.9641'},
     {'fecha': '01/03/2024', 'dato': '326.0275'},
     {'fecha': '01/04/2024', 'dato': '325.3698'},
     {'fecha': '01/05/2024', 'dato': '325.9740'}]}]}}

In [66]:
dict_df = {}
for serie in series_data['bmx']['series']:
    df = pd.DataFrame(serie['datos'])
    df['date'] = pd.to_datetime(df['fecha'], format='%d/%m/%Y')
    df.set_index('date', inplace=True)
    df.drop(columns=['fecha'], inplace=True)
    df.index = df.index.strftime('%Y-%m-%d')
    df = df.rename(columns={'dato': serie['idSerie']})
    dict_df[serie['idSerie']] = df

# join dataframes by index
df = pd.concat(dict_df.values(), axis=1)

# index to DateTimeIndex
df.index = pd.to_datetime(df.index)

# see df
df

             SL11297   SL11296
date
2019-01-01  116.1072  199.8293
2019-02-01  116.1399  199.8855
2019-03-01  115.6943  199.1186
2019-04-01  115.6329  199.0129
2019-05-01  115.9667  199.5873
...              ...       ...
2024-01-01  217.3116  327.2725
2024-02-01  217.1068  326.9641
2024-03-01  216.4849  326.0275
2024-04-01  216.0482  325.3698
2024-05-01  216.4494  325.9740

[65 rows x 2 columns]

---
# Sandbox

In [31]:
?inegi_api.obtener_df

Signature:
inegi_api.obtener_df(
    indicadores: 'str|list',
    nombres: 'str|list' = None,
    clave_area: str = '00',
    inicio: str = None,
    fin: str = None,
    banco: str = None,
    metadatos: bool = False,
)
Docstring:
Regresa un DataFrame con la información de los indicadores proporcionada por el API del INEGI.

Parametros
-----------
indicadores: str/list. Clave(s) de los indicadores a consultar.
nombres: list/str, opcional. Nombre(s) de las columas del DataFrame. De no proporcionarse, se usarán los indicadores.
clave_area: str. Clave de dos a cinco caracteres que indentifica el área geográfica de acuerdo con el Marco Geoestadístico. Para definir el total nacional se especifica '00'. Este campo solo aplica para los indicadores del Bando de Indicadores (BISE), no aplica para los del Banco de Información Económica (BIE).
                            Dos dígitos para incluir nivel estatal (ej.01 a 32).
                            Cinco dígitos dígitos para incluir nivel municipal (ej. 01001).
inicio: str, opcional. Fecha donde iniciar la serie. De no proporcionarse será desde el primer valor disponible.
fin: str, opcional. Fecha donde terminar la serie. De no proporcionarse será hasta el último valor disponible.
banco: str, opcional. ['BIE' | 'BISE'] Define el banco al cual pertenecen los indicadores. Puede ser el Banco de Indicadores Económicos (BISE) o el Banco de Información Económica (BIE). Ya que solamente tres claves de indicadores se encuentran en ambos bancos y el resto son diferentes, no es necesario definir este parámetro a menos que los indicadores a consultar sea alguno de los siguientes: ['539260', '539261', '539262'].
metadatos: bool. En caso se ser verdadero regresa un DataFrame con los metadatos de los indicadores.
----------

El DataFrame resultante tiene una columna por cada indicador y un DateTimeIndex con la fecha de los valores.

Para más información visitar https://www.inegi.org.mx/servicios/api_indicadores.html
File:      ~/opt/anaconda3/envs/mds-research-stay/lib/python3.10/site-packages/INEGIpy/_indicadores.py
Type:      method